body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#notification-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.notification {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-family: 'Pacifico', cursive;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
}

.notification.info {
  box-shadow: 0 0 10px #3498db;
}

.notification.success {
  box-shadow: 0 0 10px #2ecc71;
}

.notification.error {
  box-shadow: 0 0 10px #e74c3c;
}

.notification i {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
}

.notification.info i {
  color: #3498db;
}

.notification.success i {
  color: #2ecc71;
}

.notification.error i {
  color: #e74c3c;
}

.notification.info .progress-bar {
  background-color: #3498db;
}

.notification.success .progress-bar {
  background-color: #2ecc71;
}

.notification.error .progress-bar {
  background-color: #e74c3c;
}

@keyframes icon-show {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.icon-show {
  animation: icon-show 0.5s ease-in-out;
}

.notification img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.notification.show {
  opacity: 1;
}

.notification .progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  animation: progress-animation 3s linear forwards;
}

@keyframes progress-animation {
  to {
    width: 0;
  }
}
